Package: com.haotestlabs.enhancedmusic
Name: EnhancedMusic
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Makes the Music App better.
Maintainer: ArandomDev <Haow6449@gmail.com>
Author: ArandomDev <Haow6449@gmail.com>
Section: Tweaks
